body {
    background-color: #7E7390;
}

#element {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#editor {
    background-color: #9E9BA2;
    width: 40rem;
    height: 15rem;
}

#preview {
    background-color: #BEBCC1;
    width: 60rem;
    height: 58rem;
}

.headers {
    margin: 0;
    background-color: #665A77
}

.editorColor {
    background-color: #BEBCC1;
}